{% extends 'Chirp/base.html' %}

{% block title %}投稿{% endblock %}

{% block header %}
<h1 class="display-5 text-success">新規投稿</h1>
<p class="alert alert-secondary">投稿先のグループを選択し、投稿します。</p>
{% if messages %}
<ul class="list-group">
    <div class="alert {% if message.tags == 'success' %}alert-success{% elif message.tags == 'info' %}alert-info{% endif %}">
        {{ message }}
    </div>
</ul>
{% endif %}
{% endblock %}

{% block content %}
<form action="{% url 'post' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-outline-success">投稿！</button>
</form>
{% endblock %}

