{% extends 'Chirp/base.html' %}

{% block title %}シェア{% endblock %}

{% block header %}
<h1 class="display-5 text-success">シェア</h1>
<p class="alert alert-secondary">投稿先のグループを選択し、以下のメッセージをシェアします。</p>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <div class="alert {% if message.tags == 'success' %}alert-success{% elif message.tags == 'info' %}alert-info{% endif %}">
        {{ message }}
    </div>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}

{% block content %}
<p class="bg-light p-3">"{{share.content}} ({{share.contributor_id}})"</p>
<form action="{% url 'share' share.id %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-outline-success">シェア</button>
</form>
{% endblock %}